:root {
  --primary: #FBB14E;
  --active: #FFFFFF;
  --background: #FFFFFF99;
}

body {
  background-color: var(--primary);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.Container {
  width: 100vw;
  height: 100vh;
  max-width: 500px;
}

.Fightbox {
  background-color: #FFFFFF99;
  margin: 2rem;
  padding: 2rem 0;
  border-radius: 10px;
  background-color: var(--active);
}

.ActionIcon {
  font-size: 5rem;
}

.PlayerName {
  font-weight: bold;
}

#botAction {
  transform: rotate(180deg);
}

.Select {
  display: flex;
  justify-content: center;
}

.Action {
  margin: .2rem;
  border-radius: 10px;
  background-color: var(--background);
  font-size: 3rem;
  border: var(--background);
  cursor: pointer;
  flex: 3;
}

.Action:hover {
  background-color: var(--active);
}

@media only screen and (max-width : 500px) {
  .Action {
    font-size: 2rem;
    width: 0;
  }

  .Fightbox {
    margin: 2rem 1rem;
  }
}

